
:root {
  --background: #E5FFB3;
  --background-accent: #DBF8A3;
  --background-accent-2: #BDE66E;
  --light: #92DE34;
  --dark: #69BC22;
  --text: #025600;
}


.Navbar-wrapper {
  align-items: center;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(#8566aa, #6983aa);
  display: flex;
  justify-content: space-between;
}
.Navbar-wrapper a {
  padding: 0px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.Navbar-search-container {
  margin-right: 16px;
}
.Header-wrapper {
  text-align: center;
}
Body h2{
  text-align: center;
}

.ul{
  list-style: none;
}
li{
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: white;
}
.flex-input{
    display: flex;
    justify-content: center;
    margin-top: 300px;
  }
.flex-todoItem{
  display: flex;
  margin-top: 30px;
  margin-left: 550px;
  width: 600px;
}
.li-container {
  margin-left: -50px;
  width: 250px;
  word-wrap: break-word;
}
.flex-todoItem button{
  width: 30px;
}
.li-button {
  margin-left: 90px;
}
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

}

.form__field:focus {
  
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
.container {
  text-align: center;
  background-image: url("./assets/picture.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: scroll;
}

// .bouncy{
//   animation: bouncy 3s infinite linear;
//   position: relative;
//   }
// @keyframes bouncy {
//   0%{top:0em}
//   40%{top:0em}
//   43%{top:-0.9em}
//   46%{top:0em}
//   48%{top:-0.4em}
//   50%{top:0em}
//   100%{top:0em}
// }
.button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #92DE34;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #025600;
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px #92DE34 inset;
}

.button:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    var(--dark) 10% 20%,
    transparent 20% 30%,
    var(--dark) 30% 40%,
    transparent 40% 50%,
    var(--dark) 50% 60%,
    transparent 60% 70%,
    var(--dark) 70% 80%,
    transparent 80% 90%,
    var(--dark) 90% 100%
  );
  animation: background 5s linear infinite;
}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}
.todoList-container{
  margin-right: 300px;
}

html { overflow-y: scroll; overflow-x:hidden; }
body { position: absolute; }