

.Navbar-wrapper {
  align-items: center;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(#8566aa, #6983aa);
  display: flex;
  justify-content: space-between;
}
.Navbar-wrapper a {
  padding: 0px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.Navbar-search-container {
  margin-right: 16px;
}
.Header-wrapper {
  text-align: center;
}
Body h2{
  text-align: center;
}
.img{
  background-image: url("./assets/picture.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.ul{
  list-style: none;
}
.flex{
    display: flex;
    justify-content: center;
  }
.field{
  width: 30%;
}
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

}

.form__field:focus {
  
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
.container {
  text-align: center;
}